.fails__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16%;
}
.fails__add-btn {
  width: 40px;
  cursor: pointer;
}
.fails__add-btn img {
  width: 100%;
  display: block;
}
.fails__add-text {
  color: blue;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}