.form__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.form__title {
  font-size: 25px;
  font-weight: 700;
}
.form__input-name {
  width: 70%;
  border-radius: 7px;
  padding: 10px 5px;
}
